{% extends 'base.html.twig' %}

{% block title %}Liste des sociétés{% endblock %}

{% block body %}

    <ul>
        {% for c in companies %}
        <li>
            {{ c.name }}
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('app_company_update', {'id': c.id}) }}">Update</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
